@page
@model AspNetOneRazor.Pages.HttpModel
@{
    ViewData["Title"] = "HTTP";
}
<div class="accordion" id="accordion">
    <div class="accordion-item">
        <h5 class="accordion-header" id="headingZero">
            <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
                HTTP Information
            </button>
        </h5>
        <div id="collapseZero" class="accordion-collapse collapse show" aria-labelledby="headingZero" data-parent="#accordion">
            <div class="accordion-body">
                <table class="table table-sm table-hover">
                    <tbody>
                        <tr>
                            <th>Method</th>
                            <td>@Request.Method</td>
                            <th>Host</th>
                            <td>@Request.Host</td>
                        </tr>
                        <tr>
                            <th>Protocol</th>
                            <td>@Request.Protocol</td>
                            <th>Path</th>
                            <td>@Request.Path</td>
                        </tr>
                        <tr>
                            <th>IsHttps</th>
                            <td>@Request.IsHttps</td>
                            <th>PathBase</th>
                            <td>@Request.PathBase</td>
                        </tr>
                        <tr>
                            <th>ContentType</th>
                            <td>@Request.ContentType</td>
                            <th>ContentLength</th>
                            <td>@Request.ContentLength</td>
                        </tr>
                        <tr>
                            <th>Scheme</th>
                            <td>@Request.Scheme</td>
                            <th>HasFormContentType</th>
                            <td>@Request.HasFormContentType</td>
                        </tr>
                        <tr>
                            <th>QueryString</th>
                            <td>@Request.QueryString</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h5 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Headers <span class="badge bg-info">@Request.Headers.Count</span>
            </button>
        </h5>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="accordion-body">
                <table class="table table-sm table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Header</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Request.Headers)
                        {
                            <tr>
                                <td class="text-nowrap">@item.Key</td>
                                <td class="text-break text-wrap">@item.Value</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h5 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Cookies <span class="badge bg-info">@Request.Cookies.Count</span>
            </button>
        </h5>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="accordion-body">
                <table class="table table-sm table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Header</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Request.Cookies)
                        {
                            <tr>
                                <td class="text-nowrap">@item.Key</td>
                                <td class="text-break text-wrap">@item.Value</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h5 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Query <span class="badge bg-info">@Request.Query.Count</span>
            </button>
        </h5>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="accordion-body">
                <table class="table table-sm table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Query</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Request.Query)
                        {
                            <tr>
                                <td class="text-nowrap">@item.Key</td>
                                <td class="text-break text-wrap">@item.Value</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h5 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                RouteValues <span class="badge bg-info">@Request.RouteValues.Count</span>
            </button>
        </h5>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="accordion-body">
                <table class="table table-sm table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Route</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Request.RouteValues)
                        {
                            <tr>
                                <td class="text-nowrap">@item.Key</td>
                                <td class="text-break text-wrap">@item.Value</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

